NET "clock" LOC = T9;

NET "displays(0)" LOC = E13;
NET "displays(1)" LOC = F14;
NET "displays(2)" LOC = G14;
NET "displays(3)" LOC = D14;

NET "segments(0)" LOC = E14;
NET "segments(1)" LOC = G13;
NET "segments(2)" LOC = N15;
NET "segments(3)" LOC = P15;
NET "segments(4)" LOC = R16;
NET "segments(5)" LOC = F13;
NET "segments(6)" LOC = N16;
NET "seg_dp" LOC = P16;

NET "start_button" LOC = F12;
NET "pause_button" LOC = G12;
NET "clear_button" LOC = H14;
NET "slowdown_button" LOC = H13;

NET "start_button" CLOCK_DEDICATED_ROUTE = FALSE;
NET "pause_button" CLOCK_DEDICATED_ROUTE = FALSE;
NET "slowdown_button" CLOCK_DEDICATED_ROUTE = FALSE;